<!-- Contract.cshtml -->
@model WebQLNhaTro.Models.Contract

@{
    ViewBag.Title = "Hợp Đồng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thông Tin Hợp Đồng</h2>

<!-- Hiển thị thông tin từ Model -->
<p>Contract ID: @Model.ContractID</p>
<p>Date Hide: @Model.Datefounded</p>
<!-- Thêm các dòng khác tương tự cho các trường khác -->
